// Colors
// $primary-color:#007ee5;
$primary-color:#976563;

// $secondary-color: #073435;
$secondary-color: #340C0C;
$border-color:#cccccc7a;
$dark-color:#111111;
$white-color:#fff; 
$gray-color-text:#818181; 
$light_gray: #eaeaea66;
$additional-color:#595959;